@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), Helvetica, sans-serif;
}

.mask-gradient {
  -webkit-mask-image: linear-gradient(transparent, black);
  mask-image: linear-gradient(transparent, black);
}
